<%- include('./partials/head') %>

<h1>Kies een starter squad!</h1>

<ul>
  <li class="starter-pokemon">
    <img src="/assets/starter-pokemonfire.png" alt="starter-pokemonfire">
    <img src="/assets/starter-pokemon-water.png" alt="starter-pokemon-water">
    <img src="/assets/starter-pokemon-grass.png" alt="starter-pokemon-grass">
  </li>
</ul>


<nav>
  <ul>
    <!-- Met de forEach loop zorg ik ervoor dat hij voor elke squad een li is met alle info erin -->
    <% squads.forEach(squad => { %>

    <h2>Squad <%= squad.name %></h2>
    <li class="pokeball">
      <a href="./squad/<%= squad.id %>">
        <!-- for elke object in de array images maak en img aan -->
        <!-- <% for(var i=0; i < images.length; i++) { %>
          <img src="<%= images[i].uri %>" alt="type <%= images[i].type %>">
        <% } %> -->
      </a>
    </li>
    <% }) %>
  </ul>
</nav>

<%- include('./partials/foot') %>