<%- include('./partials/head') %>

<h1>Kies een squad</h1>

<nav>
  <ul>
    <!-- Met de forEach loop zorg ik ervoor dat hij voor elke squad een li is met alle info erin -->
    <% squads.forEach(squad => { %>
    <li>
      <a href="./squad/<%= squad.id %>">
        <h2><%= squad.name %></h2>
      </a>
    </li>
    <% }) %>
  </ul>
</nav>

<h2>Students</h2>
<ul>
  <!-- Met de forEach loop zorg ik ervoor dat hij voor elk persoon een li is met alle info erin -->
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>