<%- include('./partials/head') %>
<a href="/squad/<%= person.squad_id %>" class="goback">
  <span class="material-symbols-outlined">arrow_back</span> 
  Terug
</a>

<main>
  <div>
    <%
        // This is the regex for a valid url
        const validUrlRegex = new RegExp(/^(http(s):\/\/.)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)$/gi);
        persons.forEach(person => {
          // If the avatar is not a valid url, replace it with a pokémon with their squad id with a website from [this](https://github.com/PokeAPI/pokeapi/issues/346) forum post
          const avatar = person.avatar.match(validUrlRegex) ? person.avatar : `https://unpkg.com/pokeapi-sprites@x2.0.2/sprites/pokemon/versions/generation-v/black-white/animated/${person.id}.gif`;
        <% })%>
    <img src="<%= person.avatar %>" alt="avatar van <%= person.name %>">
    <article class="pokedex">

      <section class="name">
        <h1><%= person.name %> <%= person.prefix %> <%= person.surname %></h1>
        <p> <%= person.nickname %></p>
      </section>

      <section class="bio">
        <!-- up/down vote deze persoon -->
        <form method="POST" action="/person/<%= person.id %>">
          <label>Votes: <%= person.custom.vote %></label>
          <button type="submit" name="vote" value="upvote">upvote</button>
          <button type="submit" name="vote" value="downvote">downvote</button>
        </form>

        <h2>Bio:</h2>
        <p><%= person.bio %></p>
      </section>

      <section class="comments">
        <article>
          <h2>Comments:</h2>
          <% if (person.custom.comments && person.custom.comments.length) { %>
          <ol>
            <% person.custom.comments.forEach(comment => { %>
              <li><%= comment %></li>
            <% }) %>
          </ol>
          <% } else { %>
            <p>Er zijn nog geen comments.</p>
          <% } %>
        </article>
      
        <form method="POST" action="/person/<%= person.id %>">
          <label>
            Comment:
            <textarea required name="comment"></textarea>
          </label>
          <button type="submit" name="actie" value="sent">Send</button>
        </form>
      </section> 
    </article>
  </div>
  
</main>

<%- include('./partials/foot') %>