<%- include('./partials/head') %>
<header>
  <a href="/" class="goback">
    <span class="material-symbols-outlined">arrow_back</span> 
    Back
  </a>
  <h1>Squad <%= squad[0].name %></h1>
</header>

<main>
  <ul>
    <% persons.forEach(person => { %>
      <li class="personcard">
        <a href="<%= person.website %>">
          <h2><%= person.name %> <%= person.prefix %> <%= person.surname %> </h2>
          <img src="<%= person.avatar %>" alt="Avatar van <%= person.name %>" class="avatar">
          <p>Also known as: <%= person.nickname %></p>
        </a>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('./partials/foot') %>