<%- include('./partials/head') %>
<header>
  <a href="/" class="goback">
    <span class="material-symbols-outlined">arrow_back</span> 
    Terug
  </a>
  <h1>Squad <%= squad[0].name %></h1>
</header>

<main>
  <form class="dropdown">
    <legend>Sorteer op:</legend>
    <div class="sort">
      <!-- Sorteer deze squadpage op populairitijd naam, achternaam en nickname -->
      <a href="/squad/<%= squad[0].id %>"> Standaard</a>
      <!-- <a href="/squad/<%= squad[0].id %>/?sort=custom"> Populairitijd</a> -->
      <a href="/squad/<%= squad[0].id %>/?sort=name"> Naam A-Z </a>
      <a href="/squad/<%= squad[0].id %>/?sort=surname"> Achternaam A-Z</a>
      <a href="/squad/<%= squad[0].id %>/?sort=nickname"> Bijnaam A-Z</a>
    </div>
  </form>



 <div class="pokemon-card-container">
    <% persons.forEach(person => { %>
      <div class="pokemon-card">
        <a href="/person/<%= person.id %>">
        <h2 class="person-nickname"><%= person.nickname %></h2>
        <div class="cardPokemon-avatar"><img src="<%= person.avatar %>" alt="<%= person.name %>'s avatar" max width="auto" height="155px"></div>
        <div class="cardPokemon-information"> <%= person.name %> <%= person.prefix %> <%= person.surname %> </div>
        <div class="pokemonTyping"></div>
        <div class="pokemonAttack1">
          <div class="pokemonStar"></div>
        </div>
        <div class="pokemonAttack2">
          <div class="pokemonStar"></div>
        </div>
        <div class="pokemonCard-bio"><%= person.bio %></div>
      </a>
    </div>
    <% }) %>
 </div>
</main>

<%- include('./partials/foot') %>

    <!--The first code incase there are a lot of bugs and defects-->
<!---
 <ul>
     For elk persoon maak een listitem aan met en link naar hun personen pagina 
    <% persons.forEach(person => { %>
      <li class="personcard">
        <a href="/person/<%= person.id %>">
          <h2><%= person.name %> <%= person.prefix %> <%= person.surname %></h2>
          <img src="<%= person.avatar %>" alt="Avatar van <%= person.name %>" class="avatar">
          <p>Ook bekend als: <%= person.nickname %></p>
        </a>
      </li>
    <% }) %>
   </ul> 
  -->