<%- include('./partials/head') %>
<header>
  <a href="/">Back</a>
  <h1>Squad <%= squad.name %></h1>
</header>

<main>
  <ul>
    <% persons.forEach(person => { %>
      <li class="personCard">
        <a href="<%= person.website %>">
          <h2><%= person.name %> <%= person.prefix %> <%= person.surname %> </h2>
          <img src="<%= person.avatar %>" alt="Avatar van <%= person.name %>">
          <p><%= person.nickname %></p>
        </a>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('./partials/foot') %>