<%- include('./partials/head') %>

<a href="/">Back</a>
<h1><%= squad.name %></h1>

<main>
  <ul>
    <% person.forEach(person => { %>
      <li>
        <a href="<%= person.website %>">
          <h2><%= person.name %> <%= person.prefix %> <%= person.surname %> </h2>
          <img src="<%= person.avatar %>" alt="Avatar van <%= person.name %>">
        </a>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('./partials/foot') %>